<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PonovoSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PonovoSMS.Properties.Settings>
            <setting name="mysql_name" serializeAs="String">
                <value>newoa</value>
            </setting>
            <setting name="log_level" serializeAs="String">
                <value>debug</value>
            </setting>
            <setting name="com_rate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="mysql_charset" serializeAs="String">
                <value>utf8</value>
            </setting>
            <setting name="sms_sign" serializeAs="String">
                <value>[北京博电]</value>
            </setting>
            <setting name="loop_timer" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="mysql_host" serializeAs="String">
                <value>172.17.110.16</value>
            </setting>
            <setting name="mysql_user" serializeAs="String">
                <value>pysche</value>
            </setting>
            <setting name="mysql_pass" serializeAs="String">
                <value>leipang</value>
            </setting>
            <setting name="com_port" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>短信守护程序</value>
            </setting>
        </PonovoSMS.Properties.Settings>
    </userSettings>
</configuration>